doctrine:
    dbal:
        driver: 'mysql'
        server_version: '5.7'
        charset: utf8mb4
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci
        url: 'mysql://%env(MYSQL_USER)%:%env(MYSQL_PASSWORD)%@mysql:3306/%env(MYSQL_DATABASE)%'
        types:
            color: App\DoctrineType\ColorDoctrineType
            use_mode: App\DoctrineType\UseModeDoctrineType
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
