.tab-content {
    max-height: calc(100vh - 50px);
}

.tab-content .label {
    height: calc((100vh - 50px) / 2);
    padding: 25px 0;
}

.tab-content .label .list-group-items {
    max-height: calc((100vh - 100px) / 2);
    overflow: auto;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.tab-content .label .list-group-item.list-group-header {
    overflow: visible;
}

.tab-content .label .list-group-item {
    max-height: 50px;
    overflow: auto;
}

.tab-content .label .list-group-item img {
    width: 21px;
    height: 21px;
}

.tab-content .label .list-group-item.list-group-item-action:last-child {
    border-bottom: none;
}
