version: 2.1

commands:
    checkout-alpine:
        description: Install alpine requirements for checkout
        steps:
            - run:
                name: "Install alpine requirements for checkout"
                command: apk add git openssh-client curl make
            - checkout

    composer-install:
        description: "Install dependencies"
        steps:
            - run:
                name: "Execute: composer install"
                command: |
                    if [ ! -f vendor/autoload.php ];then
                        curl https://getcomposer.org/composer.phar --location --silent  --output /usr/bin/composer;
                        chmod +x /usr/bin/composer;
                        composer global require hirak/prestissimo;
                        composer install --no-interaction --no-progress;
                    fi

    restore-composer-cache:
        description: "Restore vendor folder from CircleCI cache"
        steps:
            - restore_cache:
                key: composer-{{ checksum "composer.json" }}-{{ checksum "composer.lock" }}

    store-composer-cache:
        description: "Store vendor folder in CircleCI cache"
        steps:
            - checkout-alpine
            - restore-composer-cache
            - composer-install
            - save_cache:
                key: composer-{{ checksum "composer.json" }}-{{ checksum "composer.lock" }}
                paths:
                  - ./vendor
            - persist_to_workspace:
                root: .
                paths:
                  - vendor

    phpcs:
        description: "Execute PHPCS"
        steps:
            - run:
                name: "Execute: make phpcs"
                command: make phpcs

    phpstan:
        description: "Execute PHPStan"
        steps:
            - run:
                name: "Execute: make stan"
                command: make stan

    doctrine_schema_validate:
        description: "Execute doctrine:schema:validate"
        steps:
            - run:
                name: "Execute: bin/console d:s:v"
                command: bin/console d:s:v --skip-sync

executors:
    php:
        docker:
            - image: php:7.3.8-cli-alpine3.10
        working_directory: ~/repository

jobs:
    composer:
        executor: php
        steps:
            - store-composer-cache

    phpcs:
        executor: php
        steps:
            - checkout-alpine
            - restore-composer-cache
            - phpcs

    phpstan:
        executor: php
        steps:
            - checkout-alpine
            - restore-composer-cache
            - phpstan

    doctrine_schema_validate:
        executor: php
        steps:
            - checkout-alpine
            - restore-composer-cache
            - doctrine_schema_validate

workflows:
    version: 2.1
    Code quality:
        jobs:
            - composer
            - phpcs:
                requires:
                    - composer
            - phpstan:
                requires:
                    - composer
            - doctrine_schema_validate:
                requires:
                    - composer
