{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h4 class="mt-2 ml-2">Pull requests</h4>

            <div class="accordion" id="accordion-pull-requests">
                {% include 'github/pull-request/filtersPullRequests.html.twig' %}
            </div>
        </div>

        <div class="col-sm">
            <h4 class="mt-2 ml-2">Notifications</h4>

            <div class="accordion" id="accordion-notifs">
                {% include 'github/pull-request/filtersNotifications.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
