{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello World!</h1>

    {% include 'flashBag.html.twig' %}

    {% if app.getUser() is not null %}
        <p>
            <a href="{{ path('pull_requests_list') }}">Open Github GUI</a>
        </p>

        <p>
            <a href="{{ path('user_configuration') }}">Open configuration</a>
        </p>
    {% else %}
        <p>
            <a href="{{ path('oauth_login') }}">Login</a>
        </p>
    {% endif %}

{% endblock %}
