{% extends 'base.html.twig' %}

{% block body %}
    <section class="pt-4 pt-md-11">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2">
                    <img src="{{ asset('imgs/home.png') }}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="Home picture"
                            data-aos="fade-up" data-aos-delay="100">
                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">
                    <h1 class="display-3 text-center text-md-left">
                        Stop wasting time on<br>
                        <strong class="text-primary">code review</strong>.
                    </h1>

                    <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                        GitHub PR Review is an interface to simplify pull requests management on GitHub.
                    </p>

                    <div class="text-center text-md-left">
                        <a href="{{ path('pull_requests_list') }}" class="btn btn-primary shadow lift mr-1 mb-3">
                            View pull requests <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
                        </a>
                        <a href="{{ path('user_configuration') }}" class="btn btn-primary-soft lift mb-3">
                            Configuration
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-8 py-md-11 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4" data-aos="fade-up">
                    <div class="icon text-primary mb-3">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                xmlns="http://www.w3.org/2000/svg">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" id="Combined-Shape" fill="#335EEA"></path>
                                <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" id="Combined-Shape" fill="#335EEA" opacity="0.3"></path>
                            </g>
                        </svg>
                    </div>

                    <h3>
                        Built for developers
                    </h3>

                    <p class="text-muted mb-6 mb-md-0">
                        Track all pull requests from your teams, or your own pull requests, and do a code review
                        more easier.
                    </p>
                </div>

                <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">
                    <div class="icon text-primary mb-3">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                xmlns="http://www.w3.org/2000/svg">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                <path d="M5.5,4 L9.5,4 C10.3284271,4 11,4.67157288 11,5.5 L11,6.5 C11,7.32842712 10.3284271,8 9.5,8 L5.5,8 C4.67157288,8 4,7.32842712 4,6.5 L4,5.5 C4,4.67157288 4.67157288,4 5.5,4 Z M14.5,16 L18.5,16 C19.3284271,16 20,16.6715729 20,17.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,17.5 C13,16.6715729 13.6715729,16 14.5,16 Z" id="Combined-Shape" fill="#335EEA"></path>
                                <path d="M5.5,10 L9.5,10 C10.3284271,10 11,10.6715729 11,11.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,12.5 C20,13.3284271 19.3284271,14 18.5,14 L14.5,14 C13.6715729,14 13,13.3284271 13,12.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z" id="Combined-Shape" fill="#335EEA" opacity="0.3"></path>
                            </g>
                        </svg>
                    </div>

                    <h3>
                        Sort your pull requests
                    </h3>

                    <p class="text-muted mb-6 mb-md-0">
                        You can use both modes, <span class="text-primary">label</span> or
                        <span class="text-primary">filter</span> and sort your pull requests.
                    </p>
                </div>

                <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon text-primary mb-3">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                xmlns="http://www.w3.org/2000/svg">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                <path d="M17.2718029,8.68536757 C16.8932864,8.28319382 16.9124644,7.65031935 17.3146382,7.27180288 C17.7168119,6.89328641 18.3496864,6.91246442 18.7282029,7.31463817 L22.7282029,11.5646382 C23.0906029,11.9496882 23.0906029,12.5503176 22.7282029,12.9353676 L18.7282029,17.1853676 C18.3496864,17.5875413 17.7168119,17.6067193 17.3146382,17.2282029 C16.9124644,16.8496864 16.8932864,16.2168119 17.2718029,15.8146382 L20.6267538,12.2500029 L17.2718029,8.68536757 Z M6.72819712,8.6853647 L3.37324625,12.25 L6.72819712,15.8146353 C7.10671359,16.2168091 7.08753558,16.8496835 6.68536183,17.2282 C6.28318808,17.6067165 5.65031361,17.5875384 5.27179713,17.1853647 L1.27179713,12.9353647 C0.909397125,12.5503147 0.909397125,11.9496853 1.27179713,11.5646353 L5.27179713,7.3146353 C5.65031361,6.91246155 6.28318808,6.89328354 6.68536183,7.27180001 C7.08753558,7.65031648 7.10671359,8.28319095 6.72819712,8.6853647 Z" id="Combined-Shape" fill="#335EEA"></path>
                                <rect id="Rectangle-28" fill="#335EEA" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-345.000000) translate(-12.000000, -12.000000) " x="11" y="4" width="2" height="16" rx="1"></rect>
                            </g>
                        </svg>
                    </div>

                    <h3>
                        Increase your productivity
                    </h3>

                    <p class="text-muted mb-0">
                        In one single page you have all your watched repositories with the related pull requests
                        and your notifications sorted by repositories.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 pt-md-7" id="how_to_use">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <h2>
                        How to use
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card card-row shadow-light-lg mb-6">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6" data-aos="fade-right" data-aos-delay="100"
                                    data-aos-once="true">
                                <div class="card-img-left card-sort-filter p-5 text-gray-500">
                                    <h3 class="text-white">
                                        Sort by filters
                                    </h3>

                                    <p>
                                        You can search for issues and pull requests globally across all of GitHub,
                                        or search for issues and pull requests within a particular organization.
                                    </p>

                                    <a class="btn btn-sm btn-light" target="_blank"
                                            href="https://help.github.com/en/github/searching-for-information-on-github/searching-issues-and-pull-requests">
                                        More information about filters
                                    </a>
                                </div>

                                <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
                                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M116 0H51V172C76 384 0 517 0 517V690H116V0Z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 p-5 mt-2 mt-md-0 mt-lg-0 card-sort text-muted"
                                    data-aos="fade-left" data-aos-delay="100" data-aos-once="true">
                                <h3 class="text-black">
                                    Sort by labels*
                                </h3>

                                <p>
                                    You can sort you pull requests on four blocks
                                    <strong class="text-primary">Review needed</strong>,
                                    <strong class="text-primary">Accepted</strong>,
                                    <strong class="text-primary">Changes requested</strong> and
                                    <strong class="text-primary">WIP</strong>.<br>

                                    <small>
                                        * notification view is not possible with this mode.
                                    </small>
                                </p>

                                <a class="btn btn-sm btn-primary" target="_blank"
                                        href="https://help.github.com/en/github/managing-your-work-on-github/about-labels">
                                    More information about labels
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-8 pt-5 pt-md-7" id="self_hosted">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-black-50">
                    <h2 class="text-black">
                        Self hosted
                    </h2>

                    <p>
                        If you want to use it on your own server, you need to install
                        <a href="https://docs.docker.com/install/" target="_blank">Docker</a> and
                        <a href="https://docs.docker.com/compose/install/" target="_blank">Docker compose</a>,
                        clone the
                        <a href="https://github.com/babeuloula/github-pr-review/" target="_blank">repository</a>
                        and execute:
                    </p>

                    <pre>make start-prod</pre>
                </div>
            </div>
        </div>
    </section>

    <div class="position-relative mt-12">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"/>
            </svg>
        </div>
    </div>

    <section class="pt-8 pb-8 bg-dark" id="fork_me">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <h1 class="display-4 text-white">
                        Fork me on GitHub
                    </h1>

                    <p class="font-size-lg text-muted mb-6 mb-md-8">
                        Do you want to contribute to GitHub PR Review?<br>
                        Feel free to fork this repository and propose your pull request!
                    </p>

                    <a href="https://github.com/babeuloula/github-pr-review/" target="_blank"
                            class="btn btn-success lift">
                        Fork me
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"/>
            </svg>
        </div>
    </div>
{% endblock %}
