{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Stop wasting time on <strong>code review</strong></h1>
            <p class="lead text-muted">
                Github PR Review is an interface to simplify PR management on GitHub.
            </p>
            <p>
                {% if app.getUser() is null %}
                    <a href="{{ path('oauth_login') }}" class="btn btn-primary">Login with Github</a>
                {% else %}
                    <a href="{{ path('pull_requests_list') }}" class="btn btn-primary">Pull requests</a>
                {% endif %}
            </p>
        </div>
    </section>
{% endblock %}
